{#{% extends 'stark/layout.html' %}#}
{#{% block body %}#}
{##}
{#    <div class="col-lg-8 col-lg-offset-2">#}
{#    <h1>单条录入客户信息</h1>#}
{#<form method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="提交">#}
{#    </form>#}
{#    </div>#}
{#{% endblock %}#}


{% extends 'stark/layout.html' %}

{% block body %}
    <h1>批量录入</h1>
    <a href="/static/temp.xlsx">点击获取模版</a>
{#     <p>第二种方法，将链接指向相应的view函数，在view函数中实现下载功能，可以实现静态和动态文件的下载。</p>  #}
{#          <a href="{% url 'stark:download_file' %}">views获取模版</a>#}
    
    <form method="post" enctype="multipart/form-data" class="form-horizontal" novalidate>
        {% csrf_token %}

        <input type="file" name="exfile">
        <div class="col-sm-offset-11 col-sm-1">
            <input type="submit" class="btn btn-primary" value="提交">
    </div>
    </form>
{% endblock %}